cookiecutter
pip-tools

# Code quality
# ------------------------------------------------------------------------------
black
isort
flake8
flake8-isort
flake8-bugbear
pep8-naming
pre-commit

# Testing
# ------------------------------------------------------------------------------
pytest
pytest-cookies
pytest-instafail
