cookiecutter
pip-tools

# Code quality
# ------------------------------------------------------------------------------
black
ruff
pre-commit

# Testing
# ------------------------------------------------------------------------------
pytest
pytest-cookies
pytest-instafail
pytest-xdist
