[flake8]
# Black compatible values https://black.readthedocs.io/en/stable/compatible_configs.html#flake8
max-line-length = 88
exclude = test_*
extend-ignore =
            E203, # whitespace before ':'
            ANN101 # Missing type annotation for self in method
