[tool.pytest.ini_options]
addopts = "-v"

{% if cookiecutter.use_qgis_plugin_tools| selected -%}
[tool.coverage.report]
omit = ["{{cookiecutter.plugin_package}}/qgis_plugin_tools/*"]

{% endif -%}
[tool.ruff]
target-version = "py38"

{%- if cookiecutter.linting == "hatch" %}
extend = "ruff_defaults.toml"
{%- else %}
select = [
    "E", # pycodestyle errors
    "W", # pycodestyle warnings
    "F", # pyflakes
    "I", # isort
    "C", # flake8-comprehensions
    "B", # flake8-bugbear
    "N", # pep8-naming
]
{%- endif %}

unfixable = [
    "F401", # unused imports
    "F841", # unused variables
]

{% if cookiecutter.use_qgis_plugin_tools| selected -%}
exclude = ["{{cookiecutter.plugin_package}}/qgis_plugin_tools"]

[[tool.mypy.overrides]]
module = "{{cookiecutter.plugin_package}}.qgis_plugin_tools.*"
ignore_errors = true

{% endif -%}
[[tool.mypy.overrides]]
module = ["qgis.*", "osgeo.*"]
ignore_missing_imports = true
