# {{cookiecutter.plugin_name}}
{% if cookiecutter.git_repo_hosting == "github.com" -%}
![tests](https://github.com/{{cookiecutter.git_repo_organization}}/{{cookiecutter.project_directory}}/workflows/Tests/badge.svg)
[![codecov.io](https://codecov.io/github/{{cookiecutter.git_repo_organization}}/{{cookiecutter.project_directory}}/coverage.svg?branch=main)](https://codecov.io/github/{{cookiecutter.git_repo_organization}}/{{cookiecutter.project_directory}}?branch=main)
![release](https://github.com/{{cookiecutter.git_repo_organization}}/{{cookiecutter.project_directory}}/workflows/Release/badge.svg)
{% endif %}
{%- if cookiecutter.license == "GPL2" %}
[![GPLv2 license](https://img.shields.io/badge/License-GPLv2-blue.svg)](https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html)
{%- elif cookiecutter.license == "GPL3" %}
[![GPLv3 license](https://img.shields.io/badge/License-GPLv3-blue.svg)](https://www.gnu.org/licenses/gpl-3.0.html)
{% endif %}
[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff)
[![pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit&logoColor=white)](https://github.com/pre-commit/pre-commit)

## Development

Create a virtual environment activate it and install needed dependencies with the following commands:
```console
python create_qgis_venv.py
.venv\Scripts\activate # On Linux and macOS run `source .venv\bin\activate`
pip install -r requirements-dev.txt
```

For more detailed development instructions see [development](docs/development.md).

### Testing the plugin on QGIS

A symbolic link / directory junction should be made to the directory containing the installed plugins pointing to the dev plugin package.

On Windows Command promt
```console
mklink /J %AppData%\QGIS\QGIS3\profiles\default\python\plugins\{{cookiecutter.plugin_package}} .\{{cookiecutter.plugin_package}}
```

On Windows PowerShell
```console
New-Item -ItemType SymbolicLink -Path ${env:APPDATA}\QGIS\QGIS3\profiles\default\python\plugins\{{cookiecutter.plugin_package}} -Value ${pwd}\{{cookiecutter.plugin_package}}
```

On Linux
```console
ln -s {{cookiecutter.plugin_package}}/ ~/.local/share/QGIS/QGIS3/profiles/default/python/plugins/{{cookiecutter.plugin_package}}
```

After that you should be able to enable the plugin in the QGIS Plugin Manager.

{% if cookiecutter.add_vscode_config -%}
### VsCode setup

On VS Code use the workspace [{{cookiecutter.project_directory}}.code-workspace]({{cookiecutter.project_directory}}.code-workspace).
The workspace contains all the settings and extensions needed for development.

Select the Python interpreter with Command Palette (Ctrl+Shift+P). Select `Python: Select Interpreter` and choose
the one with the path `.venv\Scripts\python.exe`.

{% endif -%}
## License
This plugin is distributed under the terms of the {% if cookiecutter.license == "GPL2" -%}
[GNU General Public License, version 2](https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html)
{%- elif cookiecutter.license == "GPL3" -%}
[GNU General Public License, version 3](https://www.gnu.org/licenses/gpl-3.0.html)
{%- endif %} license.

See [LICENSE](LICENSE) for more information.
