{%- if not cookiecutter.add_vscode_config -%}
# Debugging
debugpy

{% endif -%}
# Dependency maintenance
pip-tools

# Testing
pytest
pytest-cov
pytest-qgis

# Linting and formatting
pre-commit
mypy
ruff
flake8
flake8-qgis

# Stubs
PyQt5-stubs
