# Testing
pytest~=6.2.3
pytest-cov~=2.12.1
pytest-qgis~=0.1.0

# Linting and formatting
pre-commit>=2.12.1
black~=21.7b0
isort~=5.9.3
mypy~=0.910
flake8~=3.9.2
flake8-bugbear~=21.4.3
pep8-naming~=0.12.1
flake8-annotations~=2.6.2
flake8-qgis>=0.1.4
