{% if cookiecutter.use_qgis_plugin_tools| selected -%}
import os
{% endif -%}
from typing import TYPE_CHECKING
{%- if cookiecutter.use_qgis_plugin_tools| selected %}

from {{cookiecutter.plugin_package}}.qgis_plugin_tools.infrastructure.debugging import (
    setup_debugpy,  # noqa F401
    setup_ptvsd,  # noqa F401
    setup_pydevd,  # noqa F401
)
{%- endif %}

if TYPE_CHECKING:
    from qgis.gui import QgisInterface
{%- if cookiecutter.use_qgis_plugin_tools| selected %}

debugger = os.environ.get("QGIS_PLUGIN_USE_DEBUGGER", "").lower()
if debugger in {"debugpy", "ptvsd", "pydevd"}:
    locals()["setup_" + debugger]()
{%- endif %}


def classFactory(iface: "QgisInterface"):  # noqa N802
    from {{cookiecutter.plugin_package}}.plugin import Plugin

    return Plugin()
