[general]
name={{cookiecutter.plugin_name}}
description=
about=
version=0.1.0
qgisMinimumVersion=3.16
author=
email=
changelog=
tags=
repository={{cookiecutter.git_repo_url}}
tracker={{cookiecutter.git_repo_url}}/issues
homepage={{cookiecutter.git_repo_url}}
category=Plugins
experimental=True
deprecated=False
