{%- if cookiecutter.use_qgis_plugin_tools|lower != "n" -%}
{%- include 'plugin_templates/plugin_with_submodule.py.j2' -%}
{%- else -%}
{%- include 'plugin_templates/plugin_without_submodule.py.j2' -%}
{%- endif -%}
